<div class="social-login" style="height:auto;">
    

    <button type="button" class="fb-btn" id="invite-btn" name="provider" title="@ViewBag.Label"><i class="fa fa-facebook fa-lg"></i>@ViewBag.Label</button>

    <fieldset>
        <legend align="center">@ViewBag.Text</legend>
    </fieldset>
</div>

