
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LowHeaderAlt.cshtml";
}

<style type="text/css"> 
    #header-low {background:none; color:white; position:absolute; top:0px; width:100%; z-index:100; -webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none}
    #header-low .logo {color:white;}
    a:hover {color:black !important; text-decoration:none;}
    #header-low .login-bar a.registerLink {background:white; color:#448593; }

    .sliderHolder { font-size:26px; color:white; position:absolute; }
    .sliderHolder .slide { float:left;  background-size: cover; background-position: center; height: 100%; min-height: 100%; }
    .sliderHolder .slide .sliderContent {margin-top: 50vh; padding-top: 20px; }
    .sliderBullets { font-size:26px; color:white; top:50vh; margin-top:120px; position:absolute; text-align:center; width:100%; }
    .sliderBullets span { cursor:pointer; }
    .sliderHolder a {color: white; font-size: 16px; margin: 0 20px;}

    h2, h3, p {color: #8e9ca5;}
    a {color: white !important;}
    p {font-size: 15px;}
</style>

@section Scripts {
    <script src="~/Scripts/Custom/NeoCarousel.js"></script>
}

<div id="header" style="position:absolute; height:100vh; width:100%; left:0px; background:#c6cbd3; overflow:hidden;">
    <div class="sliderHolder" style="width:3000px;height: 100%; min-height: 100%;">
        <div class="slide" style="background-image:url(content/_images/homepage-2-1.jpg);">
            <div class="sliderContent">
                @*We reward <b>safe drivers</b> with<br />
                up to <b>$500 lower</b> car insurance costs*@
                Save up to <b>$500</b> on your auto insurance today
                <div style="margin-top: 20px; color: white;">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="/Bet/Support-Me" class="button">Start saving now</a>
                    }
                    else
                    {
                        <a href="/Account/RegisterPopup" class="NeoPopupOpen button">Start saving now</a>
                    }
                </div>
            </div>
        </div>
        <div class="slide"  style="background-image:url(content/_images/homepage-2-2.jpg);">
            <div class="sliderContent">
                @*<b>Endorse your friends</b> or get endorsed<br />
                to enable massive discounts*@
                Endorse your <b>friends</b> and save together
                <div style="margin-top: 20px; color: white;">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="/Bet/Support-Me" class="button">Start saving now</a>
                    }
                    else
                    {
                        <a href="/Account/RegisterPopup" class="NeoPopupOpen button">Start saving now</a>
                    }
                </div>
            </div>
        </div>
        <div class="slide"  style="background-image:url(content/_images/homepage-2-3.jpg);">
            <div class="sliderContent">
                @*Supportfriend is <b>free</b> to use, so start receiving<br />
                safe driver vouchers <b>now</b>! <br />*@
                Your savings are <b>minutes</b> away
                <div style="margin-top: 20px; color: white;">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#about">Find out more</a>
                        <a href="/Bet/Support-Me" class="button">Start saving now</a>
                    }
                    else
                    {
                        <a href="#about">Find out more</a>
                        <a href="/Account/RegisterPopup" class="NeoPopupOpen button">Start saving now</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="sliderBullets">
        <span>•</span>
        <span>•</span>
        <span>•</span>
    </div>
</div>

<div style="padding-top:100vh; background: white;   ">
    <a name="about"></a>
    <h2><b>WHAT IS</b> SUPPORT <b>FRIEND</b></h2>
    <div class="badges" style="padding-bottom: 56px; ">

        <div class="badge">
            <div class="bCell">
                &nbsp;
            </div>
            <div class="bCell">
                <div class="imgBadge">
                </div>
            </div>
            <div class="bCell bHolder">
                <div class="bText">
                    <h3>Safe drivers welcome</h3>
                    <p>Are you a safe driver? Then stop paying for others. Get up to 80% discount on your insurance premium, now!</p>
                </div>
            </div>
        </div>

        <div class="separator">
            <div></div>
        </div>

        <div class="badge">
            <div class="bCell bHolder">
                <div class="bText">
                    <h3>Little help of your friends</h3>
                    <p>Ask your social circle to verify you are a reliable operator or vice versa. Each confirmation of a good driver enables massive discounts for both of you.</p>
                </div>
            </div>
            <div class="bCell">
                <div class="imgBadge badge2">
                </div>
            </div>
            <div class="bCell">
                &nbsp;
            </div>
        </div>

        <div class="separator">
            <div></div>
        </div>

        <div class="badge">
            <div class="bCell">
                &nbsp;
            </div>
            <div class="bCell">
                <div class="imgBadge badge3">
                </div>
            </div>
            <div class="bCell bHolder">
                <div class="bText">
                    <h3>Reap the benefits</h3>
                    <p>No claims this year? Perfect. Welcome to the new world, where car insurance costs is balanced with actual driver performance.</p>
                </div>
            </div>
        </div>



        <div style="clear:both"></div>

        <div style="width:">

        </div>

    </div>

        <div class="bet-container3" style="background: none; background-color: #c6cbd3;">
            <a name="howitworks"></a>
            <h2>How it works?</h2>
            <video controls="controls" width="483" poster="~/Content/video/video-preview.JPG">
                <source src="~/Content/video/SupportFriend.mp4" type="video/mp4" />
            </video>

        </div>
</div>